.aui-icon-medium-gray {
    color: #707070;
}

.aui-h2-clover {
    margin-top: 0;
    margin-bottom: 20px;
}

.aui-tabs-pane-100-pcnt {
    width: 100%;
}

.clover-aui-item-histogram {
    text-align: center;
}

.clover-histogram-img {
    border-bottom: 1px solid #3b7fc4;
    border-left: 1px solid #3b7fc4;
}

.clover-histogram-table-cell {
    display: table-cell;
    width: 33%;
    padding-right: 20px;
}

img {
    border: none;
}

.stats-box {
    float: left;
}

.stats-box-label {
    font-weight: 700;
    text-align: right;
    display: table-cell;
    padding-right: 5px;
}

.stats-box-value {
    display: table-cell;
    padding-right: 20px;
}

.totalText {
    font-weight: 700;
}

.overBG {
    background: #e9e9e9;
    border: #cccccc 1px solid;
    color: #333333;
}

.overFG {
    background: #FFF;
    border: #cccccc 1px solid;
    color: #333333;
}

.overCaption {
    background: #e9e9e9;
    color: #333333;
}

.stOverBG {
    background: #f5f5f5;
    border: #cccccc 1px solid;
    color: #333333;
}

.stOverCaption {
    background: #f5f5f5;
    color: #333333;
}

.helpItem, .helpItem:hover {
    cursor: help;
    text-decoration: underline;
}

.nonHelpItem, .nonHelpItem:hover {
    text-decoration: none;
}

.closeFont {
    color: #333333;
    text-align: right;
    text-decoration: none;
}

.header-stats {
    background: #f5f5f5;
    border: solid 1px #ccc;
    border-radius: 3.01px;
    padding: 20px;
}

.chart {
    border-bottom: #cccccc 1px solid;
    border-left: #cccccc 1px solid;
    border-right: #cccccc 1px solid;
    padding: 4px;
}

.chartHeader {
    background: #e9e9e9;
    border: #cccccc 1px solid;
    font-size: 12px;
    font-weight: 700;
    padding: 4px;
}

.icon, .icon:hover {
    background-image: url(img/back.gif);
    background-position: center;
    background-repeat: no-repeat;
    color: #FFF;
}

img.icon:hover {
    border: none;
    cursor: pointer;
}

img.icon {
    border: none;
    outline: none;
    outline-width: 0;
}

.methodStart {
    background-position: left;
    background-repeat: no-repeat;
    font-weight: 400;
    height: 12px;
}

.collapse, .collapse:hover {
    background-image: url(img/collapse.gif);
    background-repeat: no-repeat;
    cursor: pointer;
    padding-left: 10px;
}

.expand, .expand:hover {
    background-image: url(img/expand.gif);
    background-repeat: no-repeat;
    cursor: pointer;
    padding-left: 10px;
}

.spacer {
    background-image: url(img/spacer.gif);
    padding-left: 10px;
}

.classlist {
    padding-left: 4px;
}

.methodlist {
    font-size: 9px;
    padding-left: 18px;
}

.selectable:hover {
    background-color: #205081;
    color: #FFF;
}

table.aui > tbody > tr > td.align-middle {
    vertical-align: middle;
}

.selectable, .link {
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}

.selected {
    background-color: #205081;
    color: #FFF;
    font-weight: 700;
}

.unselected {
    background-color: #FFF;
    color: #333333;
}

.headerTitle {
    padding: 0 10px 0 3px;
    text-align: center;
}

.sortValue {
    display: none;
}

.graphItemGainer, .graphItemLoser {
    white-space: nowrap;
    width: 50%;
}

.coveredByTest, .coveredByTest {
    background: #ddffdd; /* stash light green */
}

.coveredByTestUniq {
    background: #97f295; /* stash dark green */
}

.coveredByFailedTest {
    background-color: #f6c342;
}

.gainerBarGraphFigure {
    text-align: right;
}

.loserBarGraphFigure {
    text-align: left;
}

.barNegative, .contribBarNegative, .testBarError, .barFiltered {
    background: #d04437;
    font-size: 2px;
    height: 10px;
    text-align: left;
    width: 100%;
}

.barPositive, .contribBarPositive, .testBarPass, .testBarFail, .barNonFiltered {
    background: #14892c;
    font-size: 2px;
    height: 10px;
}

.contribBarNegative {
    background: #cccccc;
}

.contribBarPositive {
    background: #3b73af;
}

.barFiltered {
    background: silver;
    border: none;
}

.barNonFiltered {
    background: #FFF;
    border: #999999 1px solid;
}

.barEmpty {
    background: #cccccc;
    border: #999999 1px solid;
    font-size: 2px;
    height: 10px;
    width: 100%;
}

.hspacer {
    border-bottom: #cccccc 1px solid;
    border-top: #cccccc 1px solid;
}

.mover, .mover {
    border: #cccccc 1px solid;
}

.barGraph {
    width: 100%;
}

.barGraphValue {
    display: table-cell; width: 50px; padding-right: 10px;
}

.tabText {
    padding-right: 12px;
}

.timestamp {
    font-size: 9px;
    font-weight: 400;
    padding-left: 1px;
}

/* source code rendering */

.srcFile {
    font-size: 9px;
}

.srcView {
    border-bottom: #cccccc 1px solid;
    border-left: #cccccc 1px solid;
    border-right: #cccccc 1px solid;
    border-top: #cccccc 1px solid;
    font-size: 12px;
}

.inlineStatsRow {
    font-size: 7px;
    height: 7px;
}

.inlineStat {
    border-left: 1px solid #cccccc;
    padding: 3px;
}

.inlineStats {
    background: #ffe9a8; /* medium yellow */
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    font-family: sans-serif;
    font-size: 12px;
}

.inlineStats:hover {
    border-color: #654982;
}

.lineCount {
    border-right: #cccccc 1px solid;
    padding-right: 3px;
}

.Good {
    background: #ddffdd; /* stash light green */
}

.NoHilight {
    background: #e9e9e9; /* secondary silver */
}

.classTitle {
    padding-left: 5px;
}

.coverageCount {
    padding-right: 3px;
}

.Bad {
    background: #fee8e9; /* stash light pink */
}

.hitByTest, .hitByFailedTest {
    border-right-color: #97f295; /* stash dark green */
    border-right-style: solid;
    border-right-width: 7px;
}

.hitByFailedTest {
    border-right-color: #f6c342; /* primary yellow */
}

.hitByTest:hover, .hitByFailedTest:hover {
    cursor: pointer;
}

.missedByTest {
    border-right-color: #cccccc;
    padding-right: 10px;
}

.srcCell {
    font-family: Monospace;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 10px;
}

.srcCellWithSpacer {
    font-family: Monospace;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.srcCellLegend {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.srcLine {
    display: inline;
    font-size: 12px;
    padding-left: 0;
    white-space: pre;
}

.srcFragment {
    display: inline;
    font-family: Monospace;
    font-size: 10px;
    font-weight: 700;
    white-space: pre;
}

.srcLineHilight, .srcLineFiltered {
    background: #fee8e9; /* stash light pink */
    display: inline;
    white-space: pre;
}

.Filtered, .srcLineFiltered, .srcLineFiltered .keyword, .srcLineFiltered .string
.srcLineFiltered .regexp {
    background: #cccccc; /* secondary ash gray */
    color: #333333;
    font-weight: 400;
}

.lineWarning {
    background: #fffdf6;
    border-right: #cccccc 1px solid;
    padding-right: 3px;
}

.keyword, .regexp {
    color: #205081; /* primary blue */
    font-weight: 700;
}

.string {
    color: green;
    font-weight: 700;
}

.javadoc {
    color: #3b7fc4;
    font-style: normal;
}

.comment {
    color: #707070;
    font-style: italic;
}

.foldControl {
    background: #cccccc;
    border: 1px solid #707070;
}

.foldControl:hover {
    cursor: pointer;
}

/* test results */

.errorMessage {
    display: inline;
    font-size: 12px;
    text-align: left;
    white-space: pre;
}

.hint {
    font-style: italic;
    padding: 5px;
}

.methodToggle {
    font-size: 10px;
    padding-left: 5px;
}

.testBarError {
    background-color: #d04437;
}

.testBarFail {
    background-color: #d04437;
}

.testPasses, .testFailures, .testErrors {
    font-weight: 700;
}

.testFailures {
    background-color: #d04437;
    color: #FFF;
}

.testErrors {
    background-color: #d04437;
    color: #FFF;
}

.tag:hover {
    background-color: #ffe9a8;
    text-decoration: none;
}

.legend {
    border: 1px solid #cccccc;
    padding: 2px;
}

#cloudDepthCheckbox {
    vertical-align: middle;
}

.cloudLink {
    float: right;
}

.errorTraceStrong {
    background: #f5f5f5;
    font-weight: 700;
}

.lineNumHref {
    color: gray;
}

.subtle {
    color: #707070;
    text-align: left;
    text-decoration: none;
}

#treemap-loader {
    color: #FFF;
    position: relative;
    text-align: center;
    top: 200px;
}

.aui-iconfont-approve:before {
    color: #14892c;
}

.aui-iconfont-error {
    color: #d04437;
}

.aui-iconfont-devtools-task-disabled:before {
    color: #707070;
}

/* Dashboard */

.dashboard-widget {
    margin: 20px 0;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 20px;
}

.dashboard-widget-header h2 {
    display: inline-block;
    margin-right: 10px;
}

.dashboard-widget-header small {
    float: right;
}

.dashboard-widget-content {
    overflow-x: hidden;
}

/* Treemap box */

.treemap-widget {
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 2px;
}

/* Sidebar package filtering */

.package-filter-container .test-filter-container .package-filter.text .test-filter.text {
    padding-left: 25px;
    background: #ffffff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAb0lEQVR42p2RMQ7AIAhFWXsG1h7Gtffo6urqyJGpwyetomnwJ38BH/wgfZSaS7PABbVOqkqm3Fzx6IQTatlDb5PJi21YBy1iuNgjJIgzFXqyCcXj1Z1DXNGTiw01aP252DCCgH7Fk41h8KaAGMDxADnaOPucd/m3AAAAAElFTkSuQmCC) no-repeat 7px center;
    max-width: 100%;
    width: 100%;
    margin: 5px 0;
}

#package-filter {
    max-width: none;
    width: 100%;
}

.packages-nav-heading.aui-nav-heading {
    border-top: none;
}

.package-filter-container {
    padding-left: 10px;
    position: relative;
}

.package-filter-container:after {
    color: #999;
    content: "\f25b";
    font-family: "Atlassian Icons";
    height: 16px;
    position: absolute;
    right: 4px;
    top: 6px;
    width: 16px;
}

.packages-tree-wrapper {
    margin-left: 6px;
    margin-top: 10px;
    overflow: auto;
    position: relative;
}

.packages-tree-container {
    padding-bottom: 10px;
}

.package-filter-no-results-message {
    padding-left: 10px;
}

.clover-tree-packages-list {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 28px;
    position: relative;
    z-index: 20;
}

.clover-tree-packages-list.clover-tree-root-list {
    margin-left: 16px;
    padding-left: 0;
}

.clover-tree-package-node {
    cursor: pointer;
    line-height: 22px;
    position: relative;
    white-space: nowrap;
}

.clover-tree-package-node-arrow {
    left: -16px;
    position: absolute;
    top: 5px;
    z-index: 20;
}

.clover-tree-package-node-arrow.aui-iconfont-expanded {
    top: 3px;
}

.clover-tree-package-node-icon {
    margin-right: 4px;
    position: relative;
    z-index: 20;
}

.clover-tree-package-node-row {
    height: 22px;
    left: -16px;
    position: absolute;
    top: 0;
    width: 0px;
    z-index: 15;
}

.clover-tree-package-node-row:hover {
    background: #e6e6e6;
}

.clover-tree-package-node.hovered > .clover-tree-package-node-row {
    background: #e6e6e6;
}

.clover-tree-package-node.keyboard-hovered > .clover-tree-package-node-row {
    background: #e6e6e6;
}

.clover-tree-package-link {
    display: inline-block;
    position: relative;
    z-index: 20;
}

.clover-tree-current-package {
    font-weight: bold;
}

.clover-tree-package-name {
    position: relative;
    z-index: 20;
}

.clover-package-node-hidden {
    display: none;
}

.clover-packages-lozenges {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 30;
}

.clover-package-node-lozenge {
    display: inline-block;
    margin-top: 3px;
    vertical-align: top;
}

.clover-package-node-lozenge-placeholder {
    display: block;
    height: 22px;
    line-height: 22px;
    min-width: 1px;
    text-align: right;
}

/* fixed app header */

#header {
    height: 41px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
}

.aui-page-panel {
    margin-top: 40px;
}

/* sidebar */

.aui-page-panel-nav-clover {
    background: #f5f5f5;
    left: 0;
    padding: 20px 10px;
    position: fixed;
    top: 41px;
    visibility: hidden;
    width: 360px;
}

.aui-page-panel-content {
    display: block;
    margin-left: 360px;
    padding: 0;
}

.aui-page-panel-content-clover {
    padding: 20px;
}

#footer {
    background: #f5f5f5;
    border-top: 1px solid #ccc;
}

table.cloud-report-table {
    margin-top: 5px;
    margin-bottom: 5px;
    table-layout: fixed;
    border-collapse: collapse;
}

table.cloud-report-table td {
    overflow: hidden;
    width: 40px;
    height: 40px;
    padding-bottom: 0;
    padding-top: 0;
    color: #707070;
    font-size: 12px;
    line-height: 1.33333333333333;
}

td.cloud-report-label {
    -webkit-transform: translatex(-0.5em);
    -ms-transform: translatex(-0.5em);
    transform: translatex(-0.5em);
}

td.cloud-report-max-label {
    -webkit-transform: translatex(2.6em);
    -ms-transform: translatex(2.6em);
    transform: translatex(2.6em);
}

td.cloud-report-min-label {
    -webkit-transform: translatex(-0.5em);
    -ms-transform: translatex(-0.5em);
    transform: translatex(-0.5em);
}