
/* style for the visualization container */
#infovis {
    position:relative; /* Requirement for TreeMap */
    width:1000px;
    height:620px;
    margin:auto;
    background-color:#333333;
}

#infovis div {
    position:absolute;
    overflow:hidden;
}

#infovis .content {
    background-color:#e9e9e9;
    border:0 solid #cccccc;
}

#infovis .head {
    height:14px;
    font-size: 12px;
    color:black;
    border: 1px #cccccc;
    cursor:pointer;
}

#infovis .head.in-path {
    background-color: #999999;
}

#infovis .body {
    background-color:white;
}

#infovis .leaf {
    color:black;
    background-color:#333333;
    display:table-cell;
    vertical-align:middle;
    padding: 5px 0 0 5px;
}

#infovis .over-leaf {
    cursor:pointer;
    text-decoration:none;
}

#infovis .over-content {
    background-color: #cccccc;
}

#infovis .over-head {
    color:black;
    background-color:#999999;
    text-decoration:none;
}

/* tooltips style */
.tip {
    background: rgba(51, 51, 51, 0.9);
    padding: 5px 10px;
    color: #ffffff;
    font-size: 12px;
    z-index: 13000;
    position:absolute;
}
