<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    
    
    <link rel="SHORTCUT ICON" href="../../../../../../img/clover.ico" />

    <link rel="stylesheet" href="../../../../../../aui/css/aui.min.css" media="all"/>
    <link rel="stylesheet" href="../../../../../../aui/css/aui-experimental.min.css" media="all"/>
    <!--[if IE 9]><link rel="stylesheet" href="../../../../../../aui/css/aui-ie9.min.css" media="all"/><![endif]-->

    <style type="text/css" media="all">
        @import url('../../../../../../style.css');
        @import url('../../../../../../tree.css');
        
    </style>

    <script src="../../../../../../jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="../../../../../../aui/js/aui.min.js" type="text/javascript"></script>
    <script src="../../../../../../aui/js/aui-experimental.min.js" type="text/javascript"></script>
    <script src="../../../../../../aui/js/aui-soy.min.js" type="text/javascript"></script>

    <script src="../../../../../../package-nodes-tree.js" type="text/javascript"></script>
    <script src="../../../../../../clover-tree.js" type="text/javascript"></script>
    <script src="../../../../../../clover.js" type="text/javascript"></script>
    <script src="../../../../../../clover-descriptions.js" type="text/javascript"></script>
    <script src="../../../../../../cloud.js" type="text/javascript"></script>

            <title>finmath lib 6.0.0</title>
    </head>

<body  >
    <div id="page">
        
        


<header id="header" role="banner">
    <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
        <div class="aui-header-inner">
            <div class="aui-header-primary">
                <h1 id="logo" class="aui-header-logo aui-header-logo-clover">
                    <a href="http://openclover.org" title="Visit OpenClover home page"><span class="aui-header-logo-device">OpenClover</span></a>
                </h1>
                            </div>
            <div class="aui-header-secondary">
                <ul class="aui-nav">
                    <li id="system-help-menu">
                        <a class="aui-nav-link" title="Open online documentation" target="_blank"
                           href="http://openclover.org/documentation">
                            <span class="aui-icon aui-icon-small aui-iconfont-help">&#160;Help</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
        
        <div class="aui-page-panel">
            <div class="aui-page-panel-inner">
                <div class="aui-page-panel-nav aui-page-panel-nav-clover">
                    

<div class="aui-page-header-inner" style="margin-bottom: 20px;">
    <div class="aui-page-header-image">
                    <a href="http://www.finmath.net/finmath-lib" target="_top">
                <div class="aui-avatar aui-avatar-large aui-avatar-project">
            <div class="aui-avatar-inner">
                                    <img src="../../../../../../img/clover_logo_large.png" alt="Clover icon"/>
                            </div>
        </div>
                    </a>
            </div>
    <div class="aui-page-header-main" >
        <h1>
                            <a href="http://www.finmath.net/finmath-lib" target="_top">
                                        finmath lib 6.0.0
                                        </a>
                    </h1>
    </div>
</div>

<nav class="aui-navgroup aui-navgroup-vertical">
    <div class="aui-navgroup-inner">
                                            <ul class="aui-nav">
                <li class="">
                    <a href="../../../../../../dashboard.html">Project overview</a>
                </li>
            </ul>
        
                <div class="aui-nav-heading packages-nav-heading">
            <strong>Packages</strong>
        </div>
        <div class="aui-nav project-packages">
            <form method="get" action="#" class="aui package-filter-container">
                <input type="text" autocomplete="off" class="package-filter text"
                       placeholder="Type to filter packages..." name="package-filter" id="package-filter"
                       title="Start typing package name (or part of the name) to search through the tree. Use arrow keys and the Enter key to navigate."/>
            </form>
            <p class="package-filter-no-results-message hidden">
                <small>No results found.</small>
            </p>
                                                <div class="packages-tree-wrapper" data-root-relative="../../../../../../" data-package-name="net.finmath.montecarlo.interestrate.products.components">
                <div class="packages-tree-container"></div>
                <div class="clover-packages-lozenges"></div>
            </div>
        </div>
        
            </div>
</nav>                </div>
                <section class="aui-page-panel-content">
                    <div class="aui-page-panel-content-clover">

                    
                    <ol class="aui-nav aui-nav-breadcrumbs">
            
        <li><a href="../../../../../../dashboard.html">Project Clover database Thu Dec 30 2021 22:15:39 CET</a></li> 
    </ol>
    
<h1 class="aui-h2-clover">
            Package net.finmath.montecarlo.interestrate.products.components
    </h1>
<div class="aui-tabs horizontal-tabs">

            <ul class="tabs-menu">
                <li class="menu-item active-tab">
            <a href="pkg-summary.html"><strong>Application code</strong></a>
        </li>
                <li class="menu-item ">
            <a href="testsrc-pkg-summary.html"><strong>Test code</strong></a>
        </li>
        <li class="menu-item ">
            <a href="test-pkg-summary.html"><strong>Test results</strong></a>
        </li>
                <li class="menu-item ">
            <a href="top-risks.html"><strong>Top risks</strong></a>
        </li>
        <li class="menu-item ">
            <a href="quick-wins.html"><strong>Quick wins</strong></a>
        </li>
                            </ul>
    <div class="tabs-pane active-pane" id="tabs-first">

        <div>&#160;</div>

            <div class="dashboard-widget">
        <header class="dashboard-widget-header">
            <h3>Code metrics</h3>
        </header>
        <div class="dashboard-widget-content">
                        

<div id="td-header-stats" class="aui-item" style="display: ">
<div style="display: table">
    <div class="stats-box">
        <div class="stats-box-label"><label title="Total number of branches in this package">Branches:</label></div>
        <div class="stats-box-value">126</div>
    </div>
    <div class="stats-box">
        <div class="stats-box-label"><label title="Total number of statements in this package">Statements:</label></div>
        <div class="stats-box-value">552</div>
    </div>
    <div class="stats-box">
        <div class="stats-box-label"><label title="Total number of methods in this package">Methods:</label></div>
        <div class="stats-box-value">94</div>
    </div>
    <div class="stats-box">
        <div class="stats-box-label"><label title="Total number of classes in this package">Classes:</label></div>
        <div class="stats-box-value">17</div>
    </div>
            <div class="stats-box">
            <div class="stats-box-label"><label title="Total number of files in this package">Files:</label></div>
            <div class="stats-box-value">17</div>
        </div>
            <div class="stats-box">
        <div class="stats-box-label"><label title="Total number of lines of code in this package">LOC:</label></div>
        <div class="stats-box-value">2,261</div>
    </div>
    <div class="stats-box">
        <div class="stats-box-label"><label title="Total number of non-comment lines of code in this package">NCLOC:</label></div>
        <div class="stats-box-value">1,171</div>
    </div>
    <div class="stats-box">
        <div class="stats-box-label"><label title="Cyclomatic complexity is the number of paths in this package">Total complexity:</label></div>
        <div class="stats-box-value">177</div>
    </div>
    <div class="stats-box">
        <div class="stats-box-label">
            <label title="Complexity density is the complexity divided by the number of statements in this package">Complexity density:</label>
        </div>
        <div class="stats-box-value">0.32</div>
    </div>
    <div class="stats-box">
        <div class="stats-box-label"><label title="Number of statements per method.">Statements/Method:</label></div>
        <div class="stats-box-value">5.87</div>
    </div>
    <div class="stats-box">
        <div class="stats-box-label"><label title="Number of methods per class.">Methods/Class:</label></div>
        <div class="stats-box-value">5.53</div>
    </div>
        <div class="stats-box">
        <div class="stats-box-label"><label title="Complexity divided by the number of methods in this package">Average method complexity:</label></div>
        <div class="stats-box-value">1.88</div>
    </div>
</div>

</div>
                        

<div id="td-filtered-header-stats" class="aui-item" style="display: none">
<div style="display: table">
    <div class="stats-box">
        <div class="stats-box-label"><label title="Total number of branches in this package">Branches:</label></div>
        <div class="stats-box-value">126</div>
    </div>
    <div class="stats-box">
        <div class="stats-box-label"><label title="Total number of statements in this package">Statements:</label></div>
        <div class="stats-box-value">552</div>
    </div>
    <div class="stats-box">
        <div class="stats-box-label"><label title="Total number of methods in this package">Methods:</label></div>
        <div class="stats-box-value">94</div>
    </div>
    <div class="stats-box">
        <div class="stats-box-label"><label title="Total number of classes in this package">Classes:</label></div>
        <div class="stats-box-value">17</div>
    </div>
            <div class="stats-box">
            <div class="stats-box-label"><label title="Total number of files in this package">Files:</label></div>
            <div class="stats-box-value">17</div>
        </div>
            <div class="stats-box">
        <div class="stats-box-label"><label title="Total number of lines of code in this package">LOC:</label></div>
        <div class="stats-box-value">2,261</div>
    </div>
    <div class="stats-box">
        <div class="stats-box-label"><label title="Total number of non-comment lines of code in this package">NCLOC:</label></div>
        <div class="stats-box-value">1,171</div>
    </div>
    <div class="stats-box">
        <div class="stats-box-label"><label title="Cyclomatic complexity is the number of paths in this package">Total complexity:</label></div>
        <div class="stats-box-value">177</div>
    </div>
    <div class="stats-box">
        <div class="stats-box-label">
            <label title="Complexity density is the complexity divided by the number of statements in this package">Complexity density:</label>
        </div>
        <div class="stats-box-value">0.32</div>
    </div>
    <div class="stats-box">
        <div class="stats-box-label"><label title="Number of statements per method.">Statements/Method:</label></div>
        <div class="stats-box-value">5.87</div>
    </div>
    <div class="stats-box">
        <div class="stats-box-label"><label title="Number of methods per class.">Methods/Class:</label></div>
        <div class="stats-box-value">5.53</div>
    </div>
        <div class="stats-box">
        <div class="stats-box-label"><label title="Complexity divided by the number of methods in this package">Average method complexity:</label></div>
        <div class="stats-box-value">1.88</div>
    </div>
</div>

</div>        </div>
    </div>
        


        

        
        <table id="packageSummaryTable" class="aui">
                        <thead>
    <tr>
        <th width="30%">Package</th>
                    <th colspan="1">
                <label >Files</label>
            </th>
                    <th colspan="1">
                <label  title="The percentage of elements that have been filtered from this report.">% Filtered</label>
            </th>
                    <th colspan="1">
                <label  title="The average number of paths per method.">Average Method Complexity</label>
            </th>
                    <th colspan="1">
                <label  title="The number of statements and branches that were not covered during testing.">Uncovered Elements</label>
            </th>
                    <th colspan="2">
                <label  title="The amount of code that was hit at least once during testing.">TOTAL Coverage</label>
            </th>
            </tr>
</thead>
            <tbody>
                                <tr>
    <td>
                <span class="sortValue">net.finmath.montecarlo.interestrate.products.components</span>
                    net.finmath.montecarlo.interestrate.products.components
                    </td>

                
        <td class=" " align="right">
            <span class="sortValue">17.0</span>
            17
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            0%
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">1.8829787</span>
            1.88
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">464.0</span>
            464
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.39896372</span>
            <div style="display: table; width: 100%">
<div class="barGraphValue"><span class="sortValue">0.39896372</span>39.9%</div><div style="display: table-cell">
 <div title="39.9% Covered"  style="min-width:200px;" class="barNegative contribBarNegative "><div class="barPositive contribBarPositive " style="width:39.9%"></div></div></div></div>
        </td>
        
    </tr>
            </tbody>
        </table>

        <div>&#160;</div>

        
        <table id="packageClassesTable" class="aui aui-table-sortable">
                        <thead>
    <tr>
        <th width="30%">Class</th>
                            <th colspan="1">
                <label >
                    Methods
                </label>
            </th>
                                <th colspan="1">
                <label  title="The percentage of elements that have been filtered from this report.">
                    % Filtered
                </label>
            </th>
                                <th colspan="1">
                <label  title="The average number of paths per method.">
                    Average Method Complexity
                </label>
            </th>
                                <th colspan="1">
                <label  title="The number of statements and branches that were not covered during testing.">
                    Uncovered Elements
                </label>
            </th>
                                <th colspan="2">
                <label  title="The amount of code that was hit at least once during testing.">
                    TOTAL Coverage
                </label>
            </th>
                        </tr>
</thead>
            <tbody>
                                                                                                                                                                                    <tr>
    <td>
                    
                <span class="sortValue">AccrualAccount</span>
                    <a href="AccrualAccount.html" title="AccrualAccount">AccrualAccount</a>
                    </td>

                
        <td class=" " align="right">
            <span class="sortValue">3.0</span>
            3
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            0%
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">1.6666666</span>
            1.67
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">20.0</span>
            20
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            <div style="display: table; width: 100%">
<div class="barGraphValue"><span class="sortValue">0.0</span>0%</div><div style="display: table-cell">
 <div title="0% Covered"  style="min-width:200px;" class="barNegative contribBarNegative "><div class="barPositive contribBarPositive " style="width:0%"></div></div></div></div>
        </td>
        
    </tr>
                                                                                                                                <tr>
    <td>
                    
                <span class="sortValue">AccruingNotional</span>
                    <a href="AccruingNotional.html" title="AccruingNotional">AccruingNotional</a>
                    </td>

                
        <td class=" " align="right">
            <span class="sortValue">4.0</span>
            4
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            0%
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">1.5</span>
            1.5
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">16.0</span>
            16
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            <div style="display: table; width: 100%">
<div class="barGraphValue"><span class="sortValue">0.0</span>0%</div><div style="display: table-cell">
 <div title="0% Covered"  style="min-width:200px;" class="barNegative contribBarNegative "><div class="barPositive contribBarPositive " style="width:0%"></div></div></div></div>
        </td>
        
    </tr>
                                                                                                                                <tr>
    <td>
                    
                <span class="sortValue">Cashflow</span>
                    <a href="Cashflow.html" title="Cashflow">Cashflow</a>
                    </td>

                
        <td class=" " align="right">
            <span class="sortValue">5.0</span>
            5
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            0%
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">1.6</span>
            1.6
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">28.0</span>
            28
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            <div style="display: table; width: 100%">
<div class="barGraphValue"><span class="sortValue">0.0</span>0%</div><div style="display: table-cell">
 <div title="0% Covered"  style="min-width:200px;" class="barNegative contribBarNegative "><div class="barPositive contribBarPositive " style="width:0%"></div></div></div></div>
        </td>
        
    </tr>
                                                                                                                                <tr>
    <td>
                    
                <span class="sortValue">Choice</span>
                    <a href="Choice.html" title="Choice">Choice</a>
                    </td>

                
        <td class=" " align="right">
            <span class="sortValue">6.0</span>
            6
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            0%
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">2.8333333</span>
            2.83
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">99.0</span>
            99
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            <div style="display: table; width: 100%">
<div class="barGraphValue"><span class="sortValue">0.0</span>0%</div><div style="display: table-cell">
 <div title="0% Covered"  style="min-width:200px;" class="barNegative contribBarNegative "><div class="barPositive contribBarPositive " style="width:0%"></div></div></div></div>
        </td>
        
    </tr>
                                                                                                                                <tr>
    <td>
                    
                <span class="sortValue">ExpectedTailLoss</span>
                    <a href="ExpectedTailLoss.html" title="ExpectedTailLoss">ExpectedTailLoss</a>
                    </td>

                
        <td class=" " align="right">
            <span class="sortValue">4.0</span>
            4
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            0%
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">2.5</span>
            2.5
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">71.0</span>
            71
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            <div style="display: table; width: 100%">
<div class="barGraphValue"><span class="sortValue">0.0</span>0%</div><div style="display: table-cell">
 <div title="0% Covered"  style="min-width:200px;" class="barNegative contribBarNegative "><div class="barPositive contribBarPositive " style="width:0%"></div></div></div></div>
        </td>
        
    </tr>
                                                                                                                                <tr>
    <td>
                    
                <span class="sortValue">IndexedValue</span>
                    <a href="IndexedValue.html" title="IndexedValue">IndexedValue</a>
                    </td>

                
        <td class=" " align="right">
            <span class="sortValue">5.0</span>
            5
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            0%
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">2.8</span>
            2.8
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">79.0</span>
            79
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            <div style="display: table; width: 100%">
<div class="barGraphValue"><span class="sortValue">0.0</span>0%</div><div style="display: table-cell">
 <div title="0% Covered"  style="min-width:200px;" class="barNegative contribBarNegative "><div class="barPositive contribBarPositive " style="width:0%"></div></div></div></div>
        </td>
        
    </tr>
                                                                                                                                <tr>
    <td>
                    
                <span class="sortValue">NotionalFromComponent</span>
                    <a href="NotionalFromComponent.html" title="NotionalFromComponent">NotionalFromComponent</a>
                    </td>

                
        <td class=" " align="right">
            <span class="sortValue">4.0</span>
            4
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            0%
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">1.5</span>
            1.5
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">17.0</span>
            17
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            <div style="display: table; width: 100%">
<div class="barGraphValue"><span class="sortValue">0.0</span>0%</div><div style="display: table-cell">
 <div title="0% Covered"  style="min-width:200px;" class="barNegative contribBarNegative "><div class="barPositive contribBarPositive " style="width:0%"></div></div></div></div>
        </td>
        
    </tr>
                                                                                                                                <tr>
    <td>
                    
                <span class="sortValue">Selector</span>
                    <a href="Selector.html" title="Selector">Selector</a>
                    </td>

                
        <td class=" " align="right">
            <span class="sortValue">3.0</span>
            3
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            0%
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">1.3333334</span>
            1.33
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">12.0</span>
            12
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            <div style="display: table; width: 100%">
<div class="barGraphValue"><span class="sortValue">0.0</span>0%</div><div style="display: table-cell">
 <div title="0% Covered"  style="min-width:200px;" class="barNegative contribBarNegative "><div class="barPositive contribBarPositive " style="width:0%"></div></div></div></div>
        </td>
        
    </tr>
                                                                                                                                <tr>
    <td>
                    
                <span class="sortValue">ProductCollection</span>
                    <a href="ProductCollection.html" title="ProductCollection">ProductCollection</a>
                    </td>

                
        <td class=" " align="right">
            <span class="sortValue">8.0</span>
            8
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            0%
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">2.0</span>
            2
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">33.0</span>
            33
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.3529412</span>
            <div style="display: table; width: 100%">
<div class="barGraphValue"><span class="sortValue">0.3529412</span>35.3%</div><div style="display: table-cell">
 <div title="35.3% Covered"  style="min-width:200px;" class="barNegative contribBarNegative "><div class="barPositive contribBarPositive " style="width:35.3%"></div></div></div></div>
        </td>
        
    </tr>
                                                                                                                                <tr>
    <td>
                    
                <span class="sortValue">AbstractProductComponent</span>
                    <a href="AbstractProductComponent.html" title="AbstractProductComponent">AbstractProductComponent</a>
                    </td>

                
        <td class=" " align="right">
            <span class="sortValue">5.0</span>
            5
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            0%
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">1.0</span>
            1
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">5.0</span>
            5
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.6666667</span>
            <div style="display: table; width: 100%">
<div class="barGraphValue"><span class="sortValue">0.6666667</span>66.7%</div><div style="display: table-cell">
 <div title="66.7% Covered"  style="min-width:200px;" class="barNegative contribBarNegative "><div class="barPositive contribBarPositive " style="width:66.7%"></div></div></div></div>
        </td>
        
    </tr>
                                                                                                                                <tr>
    <td>
                    
                <span class="sortValue">Numeraire</span>
                    <a href="Numeraire.html" title="Numeraire">Numeraire</a>
                    </td>

                
        <td class=" " align="right">
            <span class="sortValue">3.0</span>
            3
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            0%
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">1.0</span>
            1
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">2.0</span>
            2
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.6666667</span>
            <div style="display: table; width: 100%">
<div class="barGraphValue"><span class="sortValue">0.6666667</span>66.7%</div><div style="display: table-cell">
 <div title="66.7% Covered"  style="min-width:200px;" class="barNegative contribBarNegative "><div class="barPositive contribBarPositive " style="width:66.7%"></div></div></div></div>
        </td>
        
    </tr>
                                                                                                                                <tr>
    <td>
                    
                <span class="sortValue">Option</span>
                    <a href="Option.html" title="Option">Option</a>
                    </td>

                
        <td class=" " align="right">
            <span class="sortValue">12.0</span>
            12
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            0%
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">2.5</span>
            2.5
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">50.0</span>
            50
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.6753247</span>
            <div style="display: table; width: 100%">
<div class="barGraphValue"><span class="sortValue">0.6753247</span>67.5%</div><div style="display: table-cell">
 <div title="67.5% Covered"  style="min-width:200px;" class="barNegative contribBarNegative "><div class="barPositive contribBarPositive " style="width:67.5%"></div></div></div></div>
        </td>
        
    </tr>
                                                                                                                                <tr>
    <td>
                    
                <span class="sortValue">NotionalFromConstant</span>
                    <a href="NotionalFromConstant.html" title="NotionalFromConstant">NotionalFromConstant</a>
                    </td>

                
        <td class=" " align="right">
            <span class="sortValue">6.0</span>
            6
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            0%
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">1.0</span>
            1
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">4.0</span>
            4
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.71428573</span>
            <div style="display: table; width: 100%">
<div class="barGraphValue"><span class="sortValue">0.71428573</span>71.4%</div><div style="display: table-cell">
 <div title="71.4% Covered"  style="min-width:200px;" class="barNegative contribBarNegative "><div class="barPositive contribBarPositive " style="width:71.4%"></div></div></div></div>
        </td>
        
    </tr>
                                                                                                                                <tr>
    <td>
                    
                <span class="sortValue">AbstractPeriod</span>
                    <a href="AbstractPeriod.html" title="AbstractPeriod">AbstractPeriod</a>
                    </td>

                
        <td class=" " align="right">
            <span class="sortValue">14.0</span>
            14
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            0%
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">1.0</span>
            1
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">10.0</span>
            10
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.7222222</span>
            <div style="display: table; width: 100%">
<div class="barGraphValue"><span class="sortValue">0.7222222</span>72.2%</div><div style="display: table-cell">
 <div title="72.2% Covered"  style="min-width:200px;" class="barNegative contribBarNegative "><div class="barPositive contribBarPositive " style="width:72.2%"></div></div></div></div>
        </td>
        
    </tr>
                                                                                                                                <tr>
    <td>
                    
                <span class="sortValue">Period</span>
                    <a href="Period.html" title="Period">Period</a>
                    </td>

                
        <td class=" " align="right">
            <span class="sortValue">7.0</span>
            7
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            0%
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">2.7142856</span>
            2.71
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">8.0</span>
            8
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.8787879</span>
            <div style="display: table; width: 100%">
<div class="barGraphValue"><span class="sortValue">0.8787879</span>87.9%</div><div style="display: table-cell">
 <div title="87.9% Covered"  style="min-width:200px;" class="barNegative contribBarNegative "><div class="barPositive contribBarPositive " style="width:87.9%"></div></div></div></div>
        </td>
        
    </tr>
                                                                                                                                <tr>
    <td>
                    
                <span class="sortValue">ExposureEstimator</span>
                    <a href="ExposureEstimator.html" title="ExposureEstimator">ExposureEstimator</a>
                    </td>

                
        <td class=" " align="right">
            <span class="sortValue">5.0</span>
            5
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.0</span>
            0%
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">2.8</span>
            2.8
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">10.0</span>
            10
        </td>
        
            
        <td class=" " align="right">
            <span class="sortValue">0.8863636</span>
            <div style="display: table; width: 100%">
<div class="barGraphValue"><span class="sortValue">0.8863636</span>88.6%</div><div style="display: table-cell">
 <div title="88.6% Covered"  style="min-width:200px;" class="barNegative contribBarNegative "><div class="barPositive contribBarPositive " style="width:88.6%"></div></div></div></div>
        </td>
        
    </tr>
                                                </tbody>
        </table>
                    <div>
                <small>
                    This package contains 1 empty class or
                    interface which is not listed.
                </small>
            </div>
        
    </div> <!-- tabs-pane active-pane -->
</div>

                        </div> <!-- class="aui-page-panel-content-clover" -->
                    <footer id="footer" role="contentinfo">
    <section class="footer-body">
        <ul>
            <li>
                Report generated by <a target="_new" href="http://openclover.org">OpenClover</a> v 4.4.1
                on Fri Dec 31 2021 06:17:29 CET using coverage data from Fri Dec 31 2021 05:52:51 CET.
            </li>
        </ul>
        <ul>
            <li>OpenClover is free and open-source software. </li>
        </ul>
    </section>
</footer>                </section> <!-- class="aui-page-panel-content" -->
            </div> <!-- class="aui-page-panel-inner" -->
        </div> <!-- class="aui-page-panel" -->
    </div> <!-- id="page" -->
</body>
</html>